<% if current_user %>
  <div class="col-md-8">
    <%= form_for registered_application do |f| %>
       <% if registered_application.errors.any? %>
       <div class="alert alert-danger">
         <h4>There are <%= pluralize(registered_application.errors.count, "error") %>.</h4>
         <ul>
           <% registered_application.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
         </ul>
       </div>
     <% end %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter website name" %>
      </div>
      <div class="form-group">
        <%= f.label :URL %><br />
        <%= f.url_field :URL, class: 'form-control', placeholder: "Enter the websites's URL http://example.com" %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit Website", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
<% end %>
