<h1>Registered Websites</h1>
<div class='row'>
  <div class='col-md-8'>
    <table class="table table-striped">
      <tbody>
        <thead>
          <td class="text-uppercase">Website Name</td>
          <td class="text-uppercase">Website url (Address)</td>
          <td> </td>
        </thead>
        <% @registered_applications.each do |website| %>
          <tr>
            <td><%= link_to website.name, website %></td>
            <td><%= link_to website.url, website.url %></td>
            <td>
              <span class="right">
              <%= link_to " Edit", edit_registered_application_path(website), class: 'btn btn-success glyphicon glyphicon-edit' %>
              <%= link_to " Delete", registered_application_path(website), method: :delete, data: { confirm: 'Are you sure you want to delete this website?'}, class: 'btn btn-danger glyphicon glyphicon-remove' %>
            </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <%= link_to "Add New Website", new_registered_application_path, class: 'btn btn-success' %>
  </div>
</div>
